.header {
	height: 40px;
	background-color: red;
}

.footer {
	height: 40px;
	background-color: green;
}

.board {
	min-height: 240px;
	position: relative;
}

.note {
	display: inline-block;	
	padding: 10px;
	height: 200px;
	width: 200px;
	background-color: yellow;
	margin: 10px;
	box-shadow: 1px 1px 2px 2px grey;
	position: relative;
}

.deleteNote {
	position: absolute;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	text-decoration: underline;
	
}

.addNote {	
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	text-decoration: underline;
}

.inputText {
	width: 80%;
    margin: auto;
    display: block;
}